@using TournamentTracker.Entities
@model Prize
@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Prizes Create Page";
}
<div class="container p-3 text-center border">
	<fieldset>
		<legend>CREATE PRIZE</legend>
		<form action="/Prize/Create" method="post">

			<div class="row text-center m-1">
				<label asp-for="PlaceName"></label>
			</div>
			<input asp-for="PlaceName" type="text"/>
			<div class="row text-center m-1">
				<span asp-validation-for="PlaceName" class="text-danger"></span>
			</div>
			
			<div class="row text-center m-1">
				<label asp-for="PlaceNumber"></label>
			</div>
			<input asp-for="PlaceNumber" type="text"/>
			<div class="row text-center m-1">
				<span asp-validation-for="PlaceNumber" class="text-danger"></span>
			</div>
			
			<div class="row text-center m-1">
				<label asp-for="PrizeAmount"></label>
			</div>
			<input asp-for="PrizeAmount" type="text" placeholder="0"/>
			<div class="row text-center m-1">
				<span asp-validation-for="PrizeAmount" class="text-danger"></span>
			</div>

			<div class="row text-center">
				<h4 class="m-0">- OR -</h4>
			</div>

			<div class="row text-center m-1">
				<label asp-for="PrizePercentage"></label>
			</div>
			<input asp-for="PrizePercentage" type="text" placeholder="0"/>
			<div class="row text-center m-1">
				<span asp-validation-for="PrizePercentage" class="text-danger"></span>
			</div>

			<div class="m-1">
				<input class="btn btn-outline-success" type="submit" value="Save prize"/>
			</div>
		</form>
	</fieldset>
	</div>

	@section Scripts{
		@{
			<partial name="_ValidationScriptsPartial"/>
		}
	}